body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
h1{
    font-size: calc(1.2em + 2vw);
    margin: 40px;
    color: #F3573D;
}
h2{
    font-size: calc(1em + 1vw);
}
p{
    font-size: calc(0.6em + 0.5vw);
}
section{
    margin: 20px;
}
footer{
    background: #dadada;
    margin-top: 150px;
    padding-bottom: 20px;
    width: 100%;
    display: inline-block;
    font-size: calc(0.6em + 0.5vw);
}
.Header{
}

img#logo-header{
    
    width: 10rem;
    position: absolute; left: calc(50vw - 5rem); right: 0vw; top: calc(2em + 0.5vw);
    box-shadow: 0px 0px 12px rgba(100,100,100,0.5);
    border-radius: 100%;
    background-color: #F3573D;
}

.Sesión{
    position: absolute; left: 1vw;
    margin: 20px;
}
.Divisa{
    position: absolute; right: 1vw;
    margin: 20px;
    font-size: calc(1em + 0.5vw);
}

@media (max-width: 960px) {
.Divisa{
    font-size: calc(1em + 0.1vw );
}
img#logo-header{
    
    width: 130px;
    position: absolute; left: calc(50vw - 65px); right: 0vw; top: calc(0.5em + 0.5vw);
    box-shadow: 0px 0px 12px rgba(100,100,100,0.5);
    border-radius: 100%;
    background-color: #F3573D;
    }
}

@media (max-width: 660px) {
img#logo-header{
    position: static;
    display: inline-block;
    margin: 10px;
}
.Sesión{
    position: static;
    display: inline-block;
    margin: 20px;
    transform: scale(0.7);
}
.Divisa{
    position: static;
    display: inline-block;
    margin: 10px;
}
div.contenedor-portada{
    margin-top: 20px;
}
}

.BotonSesión{
    width: 200px;
    height: 70px;
    background: #342c49;
    border: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
}

.contenedor-portada{
    margin-top: 150px;
}
.portada{
    width: 95%;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(100,100,100,0.5);
}
.Tarjeta-Torneo{
    background-color: #ffffff;
    border-radius: 30px;
    margin: 30px;
    margin-top: 70px;
    box-shadow: 0px 0px 15px rgba(100,100,100,0.5);
    display: inline-block;
    text-align: center;
    width: auto;
    padding: 30px;
}
.Icono{
    border-radius: 30px;
    margin-top: -100px;
    box-shadow: 0px 0px 15px rgba(100,100,100,0.5);
}
.Boton-inscripción{
border: none;
background: #B032E7;
box-shadow: 0px 0px 15px #B032E7;
color: #ffffff;
border-radius: 60px;
width: auto;
height: auto;
padding: 20px;
font-size: calc(0.6em + 1vw);
font-weight: 600;
cursor: pointer;
}
.Contenedor-Boton-Inscripción{
    margin-bottom: -60px;
}
.Icono-Footer{
    
}
#Icono-Footer{
    width: 60px;
    margin-top: -30px;
    margin-bottom: 20px;
}
.enfasis{
    color: #F3573D;
    font-weight: 600;
}
@media